.itemContainer{
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 4rem;
    margin: 0 0 1.5rem 0;
    padding: 1rem 1.5rem 1rem 1.5rem;;
}

.groupIdContainer{
    grid-column: span 2;
}

.groupIdContainer h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.activeContainer{
    background-color: #586470;
    color: #FFFFFF;
}

.activeContainer:hover{
    background-color: #616F7D;
}

.inactiveContainer{
    background-color: #393939;
    color: #8D8D8D;
}

.inactiveContainer:hover{
    background-color: #404040;
}

.gridItem1{
    grid-column: span 1;
}

.gridItem2{
    grid-column: span 2;
}

.gridItem3{
    grid-column: span 3;
}

.gridItemCenter{
    text-align: center;
}

.gridItemEnd{
    text-align: end;
}

.activeHeader:hover{
    color:#49D3FF;
}

.inactiveHeader{
    color: #8D8D8D;
}

.inactiveHeader:hover{
    color:#49D3FF;
}

.activeText{
    color: #49FF45;
    font-size: 20px;
    font-weight: 600;
    margin-right: 0.75rem;
}

.inactiveText{
    color: #FF3D3D;
    font-size: 20px;
    font-weight: 600;
    margin-right: 0.75rem;
}

.inactiveForm{
    color: #8D8D8D;
    background-color: #3C4752;
}

.currentLessonForm{
    padding: 0.1rem 0 0.1rem 0;
}